<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#intro" data-toggle="tab">Introduction</a></li>
                <li><a href="#photo" data-toggle="tab">Photo</a></li>
                <li><a href="#works" data-toggle="tab">Works</a></li>
                <li><a href="#links" data-toggle="tab">External Links</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="intro">
                    Introduction
                </div>
                <div class="tab-pane fade" id="photo">
                    Photo
                </div>
                <div class="tab-pane fade" id="works">
                    Works
                </div>
                <div class="tab-pane fade" id="links">
                    External Links
                </div>
            </div>
        </div>
    </div>
</div>
